<%
window.bs = bands
%>
<div id="pic" class="text-align-center profile_pic">
    <img src="<%= img %>" alt="img">
    <div class="name"><%= name %></div>
    <div class="row">
        <span class="col-70"><%= short_desc %></span>
        <span class="col-30"><%= age_limit %> <br> <%= cost %></span>
    </div>
    <div class="row">
        <% if (!_.isEmpty(website)) { %>
            <a href="<%= website %>" class="link external" target="_blank">Website</a>
        <% } %>
        <% if (!_.isEmpty(facebook)) { %>
            <a href="<%= facebook %>" class="link external" target="_blank">Facebook</a>
        <% } %>
    </div>
</div>
<div id="event_bands" class="list-block media-list">
    <% if (bands.length) {%> <div>Bands playing:</div>
    <% } %>
    <div class="list media-list inset">
        <ul>
            <% bands.forEach((band) => {
                (img, )
            %>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/4" width="44"/></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Yellow Submarine</div>
                            </div>
                            <div class="item-subtitle">Beatles</div>
                        </div>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>