<%
%>
<div id="pic" class="text-align-center profile_pic">
    <img src="<%= img %>" alt="img">
    <div class="name"><%= name %></div>
    <div class="row">
        <span class="col-50">Short description: <%= short_desc %></span>
        <span class="col-50"><%= age_limit %></span>
    </div>
    <div class="row">
        <% if (!_.isEmpty(website)) { %>
            <a href="<%= website %>" class="link external" target="_blank">Website</a>
        <% } %>
        <% if (!_.isEmpty(facebook)) { %>
            <a href="<%= facebook %>" class="link external" target="_blank">Facebook</a>
        <% } %>
    </div>
</div>
<div id="event_bands" class="list-block media-list">
    <ul>
        <li data-id="<%= id %>">
            Bands playing here
            ....
        </li>
    </ul>
</div>