<%
let events = collections.events;
%>
<div class="list media-list searchbar-found">
    <ul>
        <% events.forEach((event) => {
            let {id, date, when, start_time, name, img, cost, age_limit} = event.attributes
            let venue = event.get('venue');
            // console.log(venue);
            if (age_limit == undefined) {
                age_limit = '';
            }
            let num_of_bands = event.get('bands').length;
        %>
        <li data-id="<%= id %>">
            <a href="#" class="item-link item-content">
                <div class="item-media"><img src="<%= img %>" width="80"/></div>
                <div class="item-inner">
                    <div class="item-title-row row">
                        <div class="col-75">
                            <div class="item-title searchable">
                                <div><%= name %></div>
                                <div><%= (num_of_bands > 0)?'Bands: '+num_of_bands : ''   %></div>
                            </div>
                            <div><%= age_limit %></div>
                            <div><%= when %></div>
                        </div>
                        <div class="col-25">
                            <div><span class="geolocate distance" data-lat="<%= venue.get('lat') %>" data-lng="<%= venue.get('lng') %>">0</span> (mile)</div>
                            <div><span class="col-25 font-italic"><%= cost %></span></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <% }) %>
    </ul>
</div>
