<%
let events = collections.events;
if (! events) {
    events = []
}
%>
<div class="list media-list searchbar-found">
    <ul>
        <% events.forEach((event) => {
            let {id, date, when, start_time, name, img, cost, age_limit} = event.attributes
            let venue = event.get('venue');
            // console.log(venue);
            if (age_limit == undefined) {
                age_limit = '';
            }
            let bands = event.get('bands');
            let num_of_bands = 0;
            let some_band_names = '';
            if (_.isObject(bands)) {
                num_of_bands = bands.length;
                let first_band = bands.first();
                if (_.isObject(first_band)) {
                    some_band_names = first_band.get('name').trim();
                    some_band_names = lo.truncate(some_band_names, {length: 20});
                    if (first_band.is_fav()) {
                        some_band_names += '&nbsp;<i class="far fa-heart"></i>';
                    }
                }
            }
        %>
        <!--        display first band
        if there's no band, skip
        -->
        here change band first to sth else
<!--            <% if (num_of_bands) { %>
                <li data-id="<%= id %>" data-band_id= <%= bands.first().get('id') %>>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><img class="band" src="<%= img %>" width="80" /></div>
                        <div class="item-inner">
                            <div class="item-title-row row">
                                <div class="col-75">
                                    <div class="item-title searchable">
                                        <div><%= name %></div>
                                        <div><%= (num_of_bands > 0) ? `Band: ${some_band_names}` : '' %></div>
                                    </div>
                                    <div><%= age_limit %></div>
                                    <div><%= when %></div>
                                </div>
                                <div class="col-25">
                                    <div><span class="geolocate distance" data-lat="<%= venue.get('lat') %>" data-lng="<%= venue.get('lng') %>"></span>
                                    </div>
                                    <div><span class="col-25 font-italic"><%= cost %></span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            <% } %>-->
        <% }) %>
    </ul>
</div>
